/*page style*/
.page-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;

  display: flex;
}

/*remote*/
.remote {
  position: sticky;
  top: 100px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;

  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.date-button {
  border: none;
  font-weight: lighter;
  font-size: 13px;
  background: none;
  color: lightgrey;
}

.date-button.selected {
  border: none;
  font-weight: lighter;
  font-size: 13px;
  background: none;
  color: black;
}

/*article-column*/
.article-column {
  margin-left: 50px;
}

.section-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;

  border-bottom: 4px double black;
}

.source-title {
  font-size: 32px;
  font-weight: normal;
  margin: 15px;
}

/*article style*/
a {
  color: black;

  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.article-metadata {
  font-size: 12px;
}

.source-container {
  margin-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.news-item {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.news-toggle {
  opacity: 40%;

  background: lightslategrey;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 15px;

  font-size: 13px;
}

.news-toggle:hover {
  opacity: 100%;

  background: lightslategrey;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 15px;

  font-size: 13px;
}

/*show more, less*/
.news-list > .news-item:nth-child(n + 3) {
  display: none;
}

.source-container.expanded > .news-list > .news-item:nth-child(n + 3) {
  display: block;
}

