<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>
  <div th:each="news : ${newsList}">
    <div th:text="${news.source}">Source</div>
    <a th:href="${news.link}" th:text="${news.title}"></a>
    <img th:if="${news.imageUrl != null}"
         th:src="${news.imageUrl}"
         th:alt="${news.title}"
             >
    <div>
      <span  th:text="${news.publishedAt}">
      </span>
      <span th:if="${news.author != null}" th:text="${' / ' + news.author}">
      </span>
    </div>

  </div>
</body>
</html>
