<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Document</title>
</head>
<body>
<div th:each="sectionViewModel : ${sectionViewModels}">
  <div th:text="${sectionViewModel.section}">Section</div>
  <div th:each="newsSourceViewModel : ${sectionViewModel.newsSourceViewModels}">
    <div th:text="${newsSourceViewModel.sourceName}">SourceName</div>
    <div th:each="newsItem:${newsSourceViewModel.newsItems}">
      <div>
        <a th:href="${newsItem.link}" th:text="${newsItem.title}"></a>
      </div>
      <img style="width: 200px;
         height: 120px;
         object-fit: cover;"
           th:alt="${newsItem.title}"
           th:if="${newsItem.imageUrl != null}"
           th:src="${newsItem.imageUrl}"
      >
      <div>
        <span th:text="${newsItem.publishedAt}"></span>
        <span th:if="${newsItem.author != null}" th:text="${' / ' + newsItem.author}"></span>
      </div>
    </div>
    </div>
</div>
</body>
</html>
